<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<div class="wrapper">
		<h1>会員情報</h1>
		<div class="formArea">
			<form id="signUpForm">
				<div>
					<span>name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><input type="text" name="userName"/>
				</div>
				<div>
					<span>password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><input type="password" name="userName"/>
				</div>
				<div>
					<span>確認用password&nbsp;</span><input type="password" name="userName"/>
				</div>
			</form>
		</div>
	</div>
</body>
</html>