<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<div class="wrapper" >
		<h1>UserInfo</h1>
		<div id="userInfo">
			<div id="userName" th:text="${userVo.name}"></div>
			<div id="userId" th:text="${userVo.id}"></div>
		</div>
	</div>
	<div class="hiddenValues">
		<input id="contextPath" type="hidden" th:value="@{/}"/>
	</div>
	<script type="text/javascript" th:src="@{/js/lib/jquery-2.2.4.min.js}"></script>
</body>
</html>